choice
	prompt "Rockchip SoC Type"
	depends on ARCH_RK3188

config SOC_RK3188
	bool "RK3188"
	select USB_ARCH_HAS_EHCI if USB_SUPPORT

config SOC_RK3188M
	bool "RK3188M"
	select USB_ARCH_HAS_EHCI if USB_SUPPORT

endchoice

choice
	prompt "RK3188 Board Type"
	depends on SOC_RK3188

config PIPO_M6PRO
	bool "Pipo M6Pro"

config PIPO_M6MAX
	bool "Pipo M6Max"

config PIPO_M7PRO
	bool "Pipo M7Pro"
        
config PIPO_M8HD
        bool "Pipo M8HD"
        
config PIPO_M8PRO
        bool "Pipo M8Pro"

config PIPO_M9PRO
        bool "Pipo M9Pro"

config PIPO_M9MAX
        bool "Pipo M9MAX"
        
config PIPO_U8
        bool "Pipo U8"

config HAIER_1043
        bool "Haier 1043"

config ASSISTANT_AP106
        bool "Assistant AP106"

config MACH_RK3188_U30GT2
	bool "Cube U30GT2"

config MACH_RK3188_DS1006H
	bool "RK3188 ds1006h board"

config MACH_RK3188_TB
	bool "RK3188 Top Board"

config MACH_RK3188_SDK
	bool "RK3188 sdk Board"

config MACH_RK3188_FPGA
	bool "RK3188 FPGA board"
	select RK_FPGA

config MACH_RK3188_LR097
        bool "RK3188 LR097 JC21CA board"
        
config MACH_RK3188_FAC
        bool "RK3188 Board for factory"
        select MACH_RK_FAC

endchoice

choice
	prompt "Custom RK3188 frequencies by str0ntium-9o"
	depends on PIPO_M9PRO
        help 
                Provides opportunity to choose maximum frequency for CPU

config M9_PRO_STR_STANDART_FREQ
	bool "Standart RK3188 frequency"
	depends on PIPO_M9PRO
	default y
	help
		Standart RK3188 frequency 1600 MHz

config M9_PRO_STR_CPU_OC
	bool "Enable CPU overclock to 1700 MHz"
	depends on PIPO_M9PRO
	default n
	help
		RK3188 1700 MHz max frequency

config M9_PRO_STR_CPU_ULV
	bool "Enable CPU downclock to 1400 MHz"
	depends on PIPO_M9PRO
	default n
	help
		RK3188 1400 MHz max frequency

endchoice
